
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #000;
    font-family: 'Open Sans';
    background: #001314;
    position: relative;
    min-height: 100vh;
}

.mt-2 {
    margin-top: 10px;
}


h1, h2, h3, h4, h5 {
    font-family: 'Open Sans';
    font-weight: 600;
    color: #000;
}

* {
    box-sizing: border-box;
}


h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
}

h4 {
    font-size: 25px;
}

.img-fluid {
    width: 100%;
    display: block;
}

.center {
    text-align: center;
}

p {
    line-height: 23px;
}


header {
    background: #000;
    border-radius: 10px;
    border: 1px solid gray;
    overflow: hidden;
    margin-top: 20px;
}

.header-main h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.header-main p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.white {
    color: white;
}

.div-50 {
    width: 50%;
    float: left;
}


.div-60 {
    width: 60%;
    float: left;
}

.div-40 {
    width: 40%;
    float: left;
}


.div-20 {
    width: 20%;
    float: left;
}


.div-33 {
    width: 33.33%;
    float: left;
}

.div-66 {
    width: 66.66%;
    float: left;
}

.div-25 {
    width: 25%;
    float: left;
}

.div-50 {
    width: 50%;
    float: left;
}


.row {
    margin: 0px 15px;
}

header .menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 30px;
}

    header .menu-list ul li {
        display: inline-block;
    }

header .menu-list .active {
    color: #fff;
    background: #6a00ff;
}


header .menu-list ul a {
    color: black;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 5px 12px;
    text-decoration: none;
    border: 1px solid white;
    background: white;
    transition: .4s;
}


    header .menu-list ul a:hover {
        color: #27c2d5;
        transform: scale(1.1);
        /*font-weight:600;*/
    }

/**/


.left-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

    .left-ul a {
        display: block;
        color: #222;
        text-decoration: none;
        background: #fff2cc;
        text-align: center;
        padding: 40px 10px;
        margin-bottom: 5px;
        font-weight: 600;
    }

        .left-ul a:hover {
            background: #fffdf5;
        }

        .left-ul a span {
            color: #278ebd;
        }

.title-upload {
    margin-top: 10px;
}

.welcome {
    background-image: linear-gradient(white, #323232);
}

    .welcome h2 {
        padding: 18px 10px;
        font-size: 23px;
    }

.details-content {
    width: 85%;
    margin: auto;
}

/**/
.div1 {
    background: #dae8fc;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.div2 {
    background: #67ab9f;
    padding: 25px 8px 15px 8px;
    overflow: hidden;
}

.input-field {
    width: 100%;
    height: 44px;
    border: 1px solid gray;
    margin-bottom: 15px;
    background: #7d93a8;
    font-size: 18px;
}

.input-field2 {
    width: 200px;
    height: 44px;
    border: none;
    margin-bottom: 5px;
    background: none;
    font-size: 17px;
    margin-top: 10px;
}

.input-field3 {
    width: 170px;
    height: 44px;
    border: 1px solid #111;
    margin-bottom: 15px;
    background: #fff2cc;
    font-size: 17px;
    margin-top: 20px;
    border-radius: 3px;
    margin:auto;
    display:block;
    margin-bottom:10px;
}

.col-1 {
    width: 50%;
    float: left;
}

.text-right {
    text-align: right;
}

/**/


.container {
    width: 96%;
    margin: auto;
}

.search-field {
    position: relative;
    margin-right: 15px;
    width: 70%;
    float: right;
    margin-top: 30px;
}

.form-control {
    width: 100%;
    height: 35px;
    border: 1px solid gray;
    margin-bottom: 15px;
    background-image: linear-gradient(white, #6caea2);
    font-size: 17px;
    padding-left: 6px;
}

.search-field img {
    position: absolute;
    right: 15px;
    top: 6px;
    width: 20px;
}

/**/
.menu-list-hidden {
    visibility: hidden;
}

.form1 {
    background: #17032b;
    padding: 15px;
    border: 1px solid gray;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

    .form1 p {
        color: #999292;
        margin-bottom: 8px;
    }

    .form1 a {
        color: #999292;
    }

        .form1 a:hover {
            color: #ddd;
        }



.field-area {
    position: relative;
}

.form1 span {
    color: #999292;
}


.input-style {
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 15px;
    background: white;
    font-size: 17px;
    padding-left: 6px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.field-area img {
    position: absolute;
    left: 5px;
    top: 9px;
    width: 23px;
}

.link {
    padding-bottom: 10px;
}

.no-underline {
    text-decoration: none;
}

.field-label {
    color: #999292;
    display: inline-block;
    margin-bottom: 6px;
}

.field-label-small {
    font-size: 14px;
    margin-bottom: 20px;
}

.submit {
    display: block;
    text-align: center;
    color: #111 !important;
    padding: 14px 3px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    background-image: linear-gradient(white, #939393);
    font-weight: 600;
    border: 1px solid gray;
    margin-top: 18px;
}

    .submit:hover {
        background: #b7b7b7;
    }

/**/

.btn {
    background: white;
    display: block;
    margin: 0px 15px;
    text-align: center;
    color: #111;
    padding: 14px 3px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
}

    .btn:hover {
        background: #eeeeee;
    }

.btn3 {
    background: #f5f5f5;
    display: inline-block;
    text-align: center;
    color: #111;
    padding: 7px 27px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid gray;
    box-shadow: 0px 3px 9px -1px #a9a9a9;
}

    .btn3:hover {
        background: white;
    }

.content1 h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 23px;
}

.content1 p {
    margin-top: 0px;
    font-size: 13px;
}


.content2 p {
    margin-top: 0px;
    font-size: 14px;
    margin-right: 15px;
}


.content4 img {
    vertical-align: middle;
}

.content1 {
    width: 23%;
    float: left;
}

.content2 {
    width: 45%;
    float: left;
}

.content3 {
    width: 22%;
    float: left;
}

.content4 {
    width: 10%;
    float: left;
    margin-top: 10px;
}


.list1 {
    position: relative;
    margin-bottom: 5px;
    background: #fff2cc;
}

    .list1 a {
        padding: 10px;
        display: block;
    }

        .list1 a:hover {
            background: #fffdf5;
        }

    .list1 img {
        position: absolute;
        border-radius: 100%;
        width: 50px;
        top: 14px;
        left: 10px;
    }

    .list1 p {
        padding-left: 60px;
        font-size: 15px;
    }

    .list1 a {
        color: #111;
        text-decoration: none;
    }

        .list1 a:hover {
            color: #444;
            text-decoration: none;
        }

.div-23 {
    width: 23%;
    float: left;
}

.div-10 {
    width: 10%;
    float: left;
}

.notification-div img {
    margin-top: 25px;
    position: relative;
    top: 7px;
}

.notification-div a{
    text-decoration:none;
}

.sign-out {
    border: 1px solid white;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 3px 10px;
    margin-top: 10px;
    border-radius: 3px;
    margin-left: 4px;
}

    .sign-out:hover {
        background: #ff0000;
        color: white;
    }


/**/
.left-box {
    background: #f5f5f5;
    padding: 15px;
    border: 1px solid gray;
    box-shadow: 0px 3px 9px -1px #a9a9a9;
}

    .left-box ul {
        padding-left: 15px;
    }

    .left-box a {
        color: #278ebd;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 15px;
        margin-top: 6px;
    }

        .left-box a:hover {
            color: #333;
        }


.pb-6 {
    padding-bottom: 60px;
}

.box-profile {
    /*position: relative;*/
}

    .box-profile h2 {
        margin-top: 70px;
        margin-bottom: 12px;
    }

.user-image {
    position: absolute;
    border: 1px solid black;
    width: 140px;
    left: 50%;
    margin-left: -62px;
    border-radius: 100%;
    margin-top: -150px;
}

.about-box {
    background: #235a85;
    padding: 15px;
    border: 1px solid #000;
}

.btn-05 {
    background: #fff2cc;
    color: #111;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    padding: 6px 32px;
    border: 1px solid #111;
    border-radius: 3px;
    margin-bottom: 7px;
    text-transform: uppercase;
}

    .btn-05:hover {
        background: white;
    }

/**/
.list2 {
    position: relative;
    margin-bottom: 5px;
    background: #fff2cc;
}

    .list2 a {
        color: #111;
        text-decoration: none;
        padding: 10px;
        display: block;
    }

        .list2 a:hover {
            background: #fffdf5;
        }

    .list2 img {
        position: absolute;
        border-radius: 100%;
        width: 20px;
        top: 27px;
        left: 10px;
    }

    .list2 p {
        padding-left: 30px;
        font-size: 15px;
    }

.status {
    width: 20px;
    height: 19px;
    background: gray;
    border-radius: 100%;
    border: 1px solid #111;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 3px;
}

/**/

.upload-div-main {
    background: #76608a;
    padding: 20px;
}

.upload-div-inner {
    background: #f5f5f5;
    border-radius: 23px;
    padding: 20px 20px 4px 20px;
    box-shadow: 0px 3px 9px -1px #302f31;
}

.text-file {
    border: 2px solid #76608a;
    padding: 15px;
    max-width: 400px;
    margin: auto;
}

.upload-file-div {
    margin-left: 60px;
    margin-top: 20px;
}

.upload-file {
    font-size: 17px;
}

.orange {
    background: #ff8000;
}

.green {
    background: #00ff00;
}

.red {
    background: #ff0000;
}

.main {
    padding-bottom: 40px;
    clear: both;
    overflow: hidden;
}

footer {
    background: #000;
    padding: 25px 10px;
    clear: both;
}

    footer .copyrights {
        margin-right: 10px;
        color: #403fa5;
        font-size: 18px;
        font-weight: 600;
        margin-top: 3px;
        position: relative;
        top: 1px;
    }

        footer .copyrights:hover {
            color: #403fa5;
        }

    footer ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
        width: 100%;
    }

        footer ul a {
            color: white;
            text-decoration: none;
            display: inline-block;
            margin: 15px 45px;
            text-align: center;
        }

            footer ul a:hover {
                color: #278ebd;
            }

/**/

@media(min-width:1500px) {
    .container {
        max-width: 1400px;
        margin: auto;
    }
}


@media(min-width:1200px) {
    .left-ul a {
        padding: 40px 40px;
    }

    .about-box {
        width: 90%;
        margin: auto;
    }
}

@media(min-width:768px) {
    .pb-5 {
        padding-bottom: 100px;
    }

    .details-content {
        width: 93%;
    }


    .hide-large {
        display: none;
    }

    .btm-9 {
        padding-bottom: 9rem;
    }

    footer {
        height: 6.1rem;
    }

    .footer-login {
        clear: both;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 6.1rem;
    }
}

@media(min-width:768px) and (max-width:1199px) {


    .notification-div img {
        width: 20px;
    }

    .sign-out {
        font-size: 11px;
        margin-bottom: 6px;
    }

    .btn3 {
        padding: 7px 7px;
        font-size: 13px;
    }



    .left-box {
        padding: 15px 7px;
    }

        .left-box ul {
            list-style: none;
            padding-left: 0px;
            font-size: 14px;
        }

    .title2 {
        font-size: 20px;
    }

    footer ul a {
        margin: 15px 20px;
    }

    .header-main h1 {
        font-size: 33px;
    }

    .header-main p {
        font-size: 14px;
    }

    header .menu-list ul a {
        padding: 5px 5px;
        font-size: 12px;
    }

    .content1 {
        width: 100%;
    }

    .content2 {
        width: 100%;
    }

    .content3 {
        width: 50%;
    }

    .content4 {
        width: 50%;
    }

    .btn {
        margin-left: 0px;
        width: 130px;
    }
}


/**/
@media(max-width:767px) {

    .hide-small {
        display: none;
    }

    .user-image {
        position: inherit;
        left: 0px;
        margin: 0 auto;
        display: block;
        margin-top: 30px;
    }

    .box-profile h2 {
        margin-top: 15px;
    }


    .div-23 {
        width: 100%;
    }

    .div-10 {
        width: 100%;
    }

    .div-20 {
        width: 100%;
    }

    .div-25 {
        width: 100%;
    }

    .div-33 {
        width: 100%;
    }

    .div-50 {
        width: 100%;
    }

    .div-60 {
        width: 100%;
    }

    .div-40 {
        width: 100%;
    }


    .div-66 {
        width: 100%;
    }

    .menu-list-hidden {
        display: none;
    }

    footer ul a {
        display: block;
    }

    .upload-file-div {
        margin-left: 25px;
    }

    header .menu-list ul a {
        padding: 5px 9px;
    }

    .details-content {
        width: 100%;
    }

    .content1 {
        width: 100%;
    }

    .content2 {
        width: 100%;
    }

    .content3 {
        width: 50%;
    }

    .content4 {
        width: 50%;
    }

    .btn {
        margin-left: 0px;
        width: 130px;
    }

    .search-field {
        width: 300px;
        margin: auto;
        float: none;
    }

    .header-main h1 {
        padding-top: 20px;
    }

    .header-main p {
        padding-bottom: 15px;
    }

    .notification-div {
        text-align: center;
        margin-bottom: 10px;
    }

        .notification-div img {
            margin-top: 0px;
        }
}
